/*-- scss:defaults --*/

// Colors
$primary:       #2c5aa0;
$secondary:     #6c757d;
$accent:        #4c7a8e;
$body-color:    #212529;
$body-bg:       #ffffff;

// Fonts
$font-family-sans-serif:  "Red Hat Text", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family:    "Petrona";
$headings-font-weight:    400;
$font-family-monospace:   SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Links
$link-color:              $secondary;
$link-decoration:         underline;
$link-hover-color:        darken($secondary, 10%);
$link-hover-decoration:   none;

// Code
$code-color:              $primary;
$code-bg:                 #f8f9fa;

// Tables
$table-border-color:      lighten($primary, 40%);

/*-- scss:rules --*/

// Code blocks
div.sourceCode {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 0.5em;
}

pre {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}
